.drag {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: gray;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.move {
    /*background-color: lightgray;*/
    box-shadow: 4px 4px 10px 1px black;
}

.drag::after {
    content: '';
    width: 100%;
    height: 20px;
    background-color: blue;
    position: absolute;
    left: 0;
    top: 0;
}

.drag::before {
    content: 'x';
    width: 8px;
    height: 8px;
    background-color: red;
    border: 1px solid white;
    position: absolute;
    right: 1px;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}